<script>
  import "../app.css";
  import { defaultEvmStores as evm } from 'svelte-web3';
	import { onMount } from "svelte";

  onMount(() => {
		evm.setProvider();
	});
</script>

<div class="bg-green-300 w-full grid grid-cols-7 px-3 py-1.5">
  <a href="/" title="Home" class="flex items-center space-x-1.5">
    <img src="Cryptologo.png" alt="" class="h-14 col-start-1 place-items-start">
    <h1 class="text-2xl font-semibold">Crypt(o)Search</h1>
  </a>
  <div class="col-start-7 space-x-3 flex items-center justify-end">
    <a href="/create-cache" title="Create Cache" class="px-3 py-1.5 rounded bg-green-400 hover:bg-green-500 transition">Create Cache</a>
    <a href="/help" title="Help" class="text-green-700 hover:text-green-800 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
        <line x1="12" y1="17" x2="12.01" y2="17"></line>
      </svg>
    </a>
  </div>
</div>

<slot />