<script>
	// @ts-nocheck

	import { onMount } from 'svelte';
	import { connected, web3, selectedAccount, chainId, chainData, contracts } from 'svelte-web3';
	import { defaultEvmStores as evm } from 'svelte-web3';
  	import LeafletMap from '$lib/LeafletMap.svelte';

  	const CACHEMASTER_ADDRESS_ON_SEPOLIA = '0xb18293696cab18AC0B82a5E0De30DC4a45B1953f';

  	function cacheMasterABI() {
		return [	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "caches",
		"outputs": [
			{
				"internalType": "contract GeoCache",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "lat",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "long",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "_title",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_hint1",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_hint2",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_hint3",
				"type": "string"
			}
		],
		"name": "createCache",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "cacheIndex",
				"type": "uint256"
			}
		],
		"name": "dislikeCache",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "cacheIndex",
				"type": "uint256"
			},
			{
				"internalType": "uint256",
				"name": "hintNumber",
				"type": "uint256"
			}
		],
		"name": "getHint",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "heJoWTFHeBJiJVOorMiJ",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "cacheIndex",
				"type": "uint256"
			}
		],
		"name": "likeCache",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "cacheIndex",
				"type": "uint256"
			}
		],
		"name": "seeVoted",
		"outputs": [
			{
				"internalType": "int256",
				"name": "",
				"type": "int256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}];
	}

	

	evm.attachContract('CacheMaster', CACHEMASTER_ADDRESS_ON_SEPOLIA, cacheMasterABI());
</script>

{#if !$connected}
	<span>You need to allow this site access to your wallet before you can use it. Click the help icon in the top right for more info</span>
{:else}
	{#await $contracts.CacheMaster.methods.heJoWTFHeBJiJVOorMiJ().call().then(value => JSON.parse(value))}
		<span>loading...</span>
	{:then value}
		<LeafletMap value={value}/>
	{/await}
{/if}
