<main class=" text-center">
    <div class="my-5 mx-5 bg-green-200 rounded h-[calc(100vh-6.75rem)]">
    <h1 class=" text-6xl mb-10 pt-10">Welcome to Crypt(o) Search</h1>

    <p class="pb-6">Crypt(o) Search is a blockchain alternative to GeoCache. It is completely free to play, all you need is a browser wallet. We recommend to install  <a href="https://metamask.io/download/">Meta Mask</a></p>

    <a href="https://metamask.io/download/"><img  class=" h-36 mx-auto my-10" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.iconscout.com%2Ficon%2Ffree%2Fpng-512%2Fmetamask-2728406-2261817.png&f=1&nofb=1&ipt=b9db4ea8fe5d542907a1689931360c75df962a66f501012d9e7238e620e27929&ipo=images" alt=""></a>

    <p class="pb-6">Once you installed metamask you can play by finding a pinn on the homepage. This will show you a relative location of a cache. Clicking on the pinn will show you if the cache is liked and allows you to get hints</p>
    <p class="pb-6">You can like caches and create your own caches, however keep in mind that this will cost you a gasfee</p>

    </div>


</main>