<script>
    // @ts-nocheck
	import { connected, web3, selectedAccount, chainId, chainData, contracts } from 'svelte-web3';

  	import LeafletMapCreate from '$lib/LeafletMapCreate.svelte';
	import { long,lat } from '../../stores';
    import { defaultEvmStores } from 'svelte-web3'

    let longValue, latValue;

    long.subscribe(value => {
        longValue = value;
    });

    lat.subscribe(value => {
        latValue = value;
    });

    function gooiMijnElendeMaarOpDeBlockChain() {
        const name = document.getElementById('cache-name').value;
        const hint1 = document.getElementById('cache-hint1').value;
        const hint2 = document.getElementById('cache-hint2').value;
        const hint3 = document.getElementById('cache-hint3').value;

        if (name.length === 0 || hint1.length === 0 || hint2.length === 0 || hint3.length === 0) {
            alert('Je moet alle velden invullen!');
            return false;
        }

        if (!longValue || !latValue) {
            alert('klik eerst op de kaart knakker');
            return false;
        } else {
            $contracts.CacheMaster.methods.createCache(latValue,longValue,name,hint1,hint2,hint3).send({from: defaultEvmStores.$selectedAccount}).then(() => {

            })
        }


    }


</script>

<main class="w-full h-[calc(100vh-4.25rem)] grid grid-cols-2 gap-4">
    <section class="w-full h-full p-6">
        {#if !$connected}
            <span>You need to allow this site access to your wallet before you can use it. Click the help icon in the top right for more info</span>
        {:else}
            {#await $contracts.CacheMaster.methods.heJoWTFHeBJiJVOorMiJ().call().then(value => JSON.parse(value))}
                <span>loading map...</span>
            {:then value}
                <LeafletMapCreate value={value}/>
            {/await}
        {/if}
    </section>
    <section class="p-6 space-y-6">
        <h3 class="text-lg text-zinc-900 font-semibold">
            Nieuwe Cache
        </h3>
        <form action="" class="bg-white w-96 space-y-3" id="newCacheForm">
            <div class="flex flex-col space-y-1">
                <label for="cache-name" class="text-zinc-700">Cache naam</label>
                <input type="text" id="cache-name" name="cache-name" class="px-3 py-1.5 bg-zinc-100 rounded" placeholder="UTrack">
            </div>
            <div class="flex flex-col space-y-1">
                <label for="cache-hint1" class="text-zinc-700">Cache hint 1</label>
                <input type="text" id="cache-hint1" name="cache-hint1" class="px-3 py-1.5 bg-zinc-100 rounded" placeholder="Bij een hek">
            </div>
            <div class="flex flex-col space-y-1">
                <label for="cache-hint2" class="text-zinc-700">Cache hint 2</label>
                <input type="text" id="cache-hint2" name="cache-hint2" class="px-3 py-1.5 bg-zinc-100 rounded" placeholder="Witte kist">
            </div>
            <div class="flex flex-col space-y-1">
                <label for="cache-hint3" class="text-zinc-700">Cache hint 3</label>
                <input type="text" id="cache-hint3" name="cache-hint3" class="px-3 py-1.5 bg-zinc-100 rounded" placeholder="...">
            </div>
            <button type="button" on:click={gooiMijnElendeMaarOpDeBlockChain} class="bg-green-400 rounded px-3 py-1.5 hover:bg-green-500 transition w-fit mt-3">
                Toevoegen
            </button>
        </form>
    </section>
</main>