<script>
    // @ts-nocheck

    import { onMount, onDestroy } from 'svelte';
    import { browser } from '$app/environment';
    import Modal from '$lib/Modal.svelte';
    import { showModal } from '../stores.js';

    export let selectedCache = null;
    export let index = null;

    const LOCATION_RESOLUTION = 100000000000000;

    let mapElement;
    let map;

    export let value;

    onMount(async () => {
        if(browser) {
            const leaflet = await import('leaflet');

            const myCustomMarker = leaflet.icon({
        iconUrl: 'mark.png',
        iconSize: [50, 50],
        iconAnchor: [25, 50]
    });

            map = leaflet.map(mapElement).setView([52.22157557427347, 6.892578995979954], 13);

            leaflet.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            value.forEach((cache, i) => {
                // 5224495918119691,684836779975019,Toren,Lance,Trek,Bak
                // 5222157557427347,689257899597995,Enschede,Bami,Is,Lekker
                console.log("title: " + cache.title + " lat: " + cache.coords.lat + " long: " + cache.coords.long);
                const marker = leaflet.marker([cache.coords.lat / LOCATION_RESOLUTION, cache.coords.long / LOCATION_RESOLUTION], {icon: myCustomMarker})
                .addTo(map)
                //.bindPopup(cache.title)
                //.openPopup()
                .on('click', (e) => {
                    index = i;
                    selectedCache = value[e.sourceTarget.index];
                    showModal.set(true);
                });
                marker.index = i;
            });
        }
    });

    onDestroy(async () => {
        if(map) {
            console.log('Unloading Leaflet map.');
            map.remove();
        }
    });
</script>


<main class="relative">
    <div bind:this={mapElement}></div>

    <Modal index={index} cache={selectedCache} showModal={showModal} />
</main>

<style>
    @import 'leaflet/dist/leaflet.css';
        main div {
            height: calc(100vh - 4.25rem);
        }
</style>

