<script>
    // @ts-nocheck

    import { onMount, onDestroy } from 'svelte';
    import { browser } from '$app/environment';
	import { lat, long } from '../stores.js';

    const LOCATION_RESOLUTION = 100000000000000;

    let mapElement;
    let map;

    export let value;

    let newMarker = {};

    function transformCoord(coord) {
        coord = coord.toFixed(14);
        coord = String(coord);
        let coordParts = coord.split(".");
        coordParts[1] = coordParts[1].substring(0,14)        
        return coordParts[0] + coordParts[1]
    }

    onMount(async () => {
        if(browser) {
            const leaflet = await import('leaflet');

            const myCustomMarker = leaflet.icon({
                iconUrl: 'mark.png',
                iconSize: [50, 50],
                iconAnchor: [25, 50]
            });

            const myCustomRedMarker = leaflet.icon({
                iconUrl: 'mark-red.png',
                iconSize: [50, 50],
                iconAnchor: [25, 50]
            });

            map = leaflet.map(mapElement).setView([52.22157557427347, 6.892578995979954], 13);

            leaflet.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            value.forEach(cache => {
                leaflet.marker([cache.coords.lat / LOCATION_RESOLUTION, cache.coords.long / LOCATION_RESOLUTION], {icon:myCustomMarker}).addTo(map);
            });

            map.on('click', function(e) {
                const latlng = map.mouseEventToLatLng(e.originalEvent);
                lat.set(transformCoord(latlng.lat));
                long.set(transformCoord(latlng.lng));

                if (newMarker != undefined) {
                    map.removeLayer(newMarker);
                }

                newMarker = leaflet.marker([latlng.lat, latlng.lng], {icon: myCustomRedMarker}).addTo(map);
            });
        }
    });

    onDestroy(async () => {
        if(map) {
            console.log('Unloading Leaflet map.');
            map.remove();
        }
    });
</script>

<main class="relative">
    <div bind:this={mapElement}></div>
</main>

<style>
    @import 'leaflet/dist/leaflet.css';
        main div {
            height: 40rem;
        }

</style>

