<script>
    //@ts-nocheck
    export let cache;
    export let index;
    import { showModal } from '../stores.js';
    import {  contracts, selectedAccount, defaultEvmStores } from 'svelte-web3';
	import { each } from 'svelte/internal';
    const hints = new Map();
    let showModalValue;
    let div;

    showModal.subscribe(value => {
        showModalValue = value;
    });

	$: if (div && showModalValue) showModalValue = true;

    function cacheRating({ likes, dislikes }) {
        if (likes + dislikes > 0) {
            return Math.floor(((Number(likes) / (Number(likes) + Number(dislikes))) * 5));
        } else {
            return 0;
        }
    }

    function setup(title) {
        hints[title] = [];
        return true;
    }

    function like(removeDislike) {
        $contracts.CacheMaster.methods.likeCache(index).send({from: defaultEvmStores.$selectedAccount}).then(() => {
            showModal.set(false);
            window.requestAnimationFrame(() => {
                showModal.set(true);
                cache.likes++;
                if (removeDislike) {
                    cache.dislikes--;
                }
            });
        });
    }

    function dislike(removeLike) {
         $contracts.CacheMaster.methods.dislikeCache(index).send({from: defaultEvmStores.$selectedAccount}).then(() => {
            showModal.set(false);
            window.requestAnimationFrame(() => {
                showModal.set(true);
                cache.dislikes++;
                if (removeLike) {
                    cache.likes--;
                }
            });
        });
    }

    function getHint() {
        let counter = hints[cache.title].length + 1;
        if ( counter < 4) {
        $contracts.CacheMaster.methods.getHint(index, counter).call().then(value => {
            hints[cache.title] = [...hints[cache.title], value];
        });
    }
    }
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
{#if showModalValue}
    <div
        bind:this={div}
        on:close={() => (showModal.set(false))}
        class="absolute top-3 right-3 bottom-3 bg-white rounded shadow-2xl w-96 z-[1000] p-6"
    >
        <div on:click|stopPropagation>
            <header class="flex items-center justify-between">
                <h2 class="text-zinc-900 font-semibold text-lg">
                    {cache?.title}
                </h2>     
                
                <button on:click={() => showModal.set(false)}>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 stroke-zinc-700 hover:stroke-zinc-800" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            
            <section class="mt-6 space-y-6">
                <div class="flex flex-col">
                    <h3 class="text-lg text-zinc-700">Rating</h3>
                    <div class="flex items-center justify-between">
                        <div class="flex items-center space-x-0.5">
                            {#each Array(5) as _, i}
                                {#if i+1 <= cacheRating(cache)}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 stroke-green-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                {:else}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 stroke-zinc-400" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                {/if}
                            {/each}
                            
                        </div>
                        <div class="flex items-center">
                            <!-- svelte-ignore empty-block -->
                            {#await $contracts.CacheMaster.methods.seeVoted(index).call({from: defaultEvmStores.$selectedAccount})}
                            {:then value}
                            {#if value == 0}
                            <button on:click={() => like(false)} class="bg-white border border-zinc-300 text-zinc-700 rounded-l p-1.5 hover:bg-zinc-100 transition">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                                </svg>
                            </button>
                            <button on:click={() => dislike(false)} class="bg-white border border-zinc-300 text-zinc-700 rounded-r p-1.5 border-l-0 hover:bg-zinc-100 transition">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
                                </svg>
                            </button>
                            
                            {:else if value == 1}
                            <button class="border border-zinc-300 text-zinc-700 rounded-l p-1.5  transition bg-blue-400">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                                </svg>
                            </button>
                            <button on:click={() => dislike(true)} class="bg-white border border-zinc-300 text-zinc-300 rounded-r p-1.5 border-l-0 hover:bg-zinc-100 transition">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
                                </svg>
                            </button>
                            {:else}
                            <button on:click={() => like(true)} class="bg-white border border-zinc-300 text-zinc-300 rounded-l p-1.5 hover:bg-zinc-100 transition">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                                </svg>
                            </button>
                            <button class="bg-red-400 border border-zinc-300 text-zinc-700 rounded-r p-1.5 border-l-0 ">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
                                </svg>
                            </button>

                            {/if}
                            {/await}
                        </div>
                    </div>
                </div>
                
                <div class="flex flex-col">
                    <h3 class="text-lg text-zinc-700">Hints:</h3>
                    {#if setup(cache.title)}
                    {#each hints[cache.title] as hint}
                        <p class="text-zinc-800 border-t-2 py-2 text-center">{hint}</p>
                    {/each}
                    {#if hints[cache?.title].length < 3}
                        <button on:click={getHint} id="hintButton" class="mt-6 rounded bg-green-400 hover:bg-green-500 transition w-1/2 mx-auto">Get Hint</button>
                    {/if}
                    {/if}
                </div>
            </section>
        </div>
    </div>
{/if}

<style>

</style>